.ui-menu 
{ 
    width: 150px;
    color:gold;
    background-color:dimgray;
    font-weight:bolder;
    font-size: 20px;
 }
 #menu{
    width: 200px;
 }
 #progressbar {
    margin-top: 20px;
  }
 
  .progress-label {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
 
  .ui-dialog-titlebar-close {
    display: none;
  }